################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlockBuster/BlockBuster/config.json
/BookStore/BookStore/config.json
/BlockBusterWebApp/BlockBuster/config.json
/BlockBusterWebApp/BlockBusterWebApp/config.json
/BookStoreWepApp/BookStore/config.json
/BookStoreWebApp/BookStore/config.json
/BookStoreWebApp/BookStoreWebApp/config.json
